@import "tailwindcss";

@font-face {
    font-family: 'IDLCFont';
    src: url('fonts/your-font-file.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'IDLCFont', sans-serif;
    /* Fallback to a generic sans-serif font */
}