@import "tailwindcss";

@font-face {
    font-family: 'IDLC';
    src: url('./assets/fonts/IDLC-Regular.ttf') format('truetype');

}

@font-face {
    font-family: 'K2D';
    src: url('./assets/fonts/K2D-Regular.ttf') format('truetype');

}